.chat-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-height: 520px;
}

.chat-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.chat-content-header::after {
  content: "";
  width: 10px;
}

.chat-content-header > img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.message-view {
  flex-grow: 1;
  overflow-y: auto; /* Add scroll to message view if content is too long */
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 241, 244);
}

.message-right {
  padding: 10px;
  margin: 5px;
  margin-left: auto;
  max-width: 70%;
  background-color: lightgreen;
  border-radius: 10px;
}

.message-left {
  margin: 5px;
  padding: 10px;
  max-width: 70%;
  background-color: white;
  border-radius: 10px;
}

.message-sender {
  display: flex;
  padding: 10px;
  height: 70px;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none; /* Disable manual resizing */
  overflow-y: auto; /* Add scroll to textarea */
  max-height: 150px; /* Maximum height before scroll */
}

.send-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}
