.navbar {
  position: fixed; /* changed from absolute to fixed to stick at the bottom */
  bottom: 0;
  left: 0; /* Add this to start from the far left */
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the buttons */
  border-top: solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 500;
}

.navbar button {
  padding: 8px 12px; /* Adjust as needed */
  /* Add margin if you want some space between the buttons */
  margin: 0 4px;
}
