.card {
  width: 230px;
  height: 400px;
  position: fixed;
  top: 30px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontal centering */
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-body p {
  margin-block-end: 0.5em;
}
