.app {
  display: flex;
  flex-direction: column; /* Change to column to stack children vertically */
  width: 365px;
  height: 680px;
  max-width: 375px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.app-content {
  width: 100%;
  flex-grow: 1; /*Takes up all available space */
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Adjust this value as needed */
}

.navbar {
  /* Your Navbar styles here */
  margin-top: auto; /* Push the Navbar to the bottom */
}
